# === GPG / Chiffrement ===
encrypt.sh

# === Git ignorable (fichiers cachés) ===
.*
.gitignore

# === Garder tous les .gitkeep ===
!*/
!**/.gitkeep

# === Dépendances ===
**/node_modules/
**/bun.lock
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# === Logs et debug ===
**/*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# === Secrets & certificats ===
**/.env*
**/*.secret
**/*.key
**/*.pem
**/*.crt
**/*.cert
**/*.pfx
**/*.jks
**/*.gpg
**/*.asc
**/*.kdbx
**/*.p12

# === Fichiers de configuration potentiellement sensibles ===
**/*.yml
**/*.yaml
**/*.json
**/docker-compose*.*
**/*.tf
**/terraform.tfstate
**/terraform.tfstate.*

# === Dossiers de cache ===
**/.cache/
**/.turbo/
**/.vite/
**/.next/
**/.nuxt/
**/.svelte-kit/
**/.parcel-cache/
**/.output/
**/.eslintcache

# === Builds et artefacts ===
**/dist/
**/build/
**/out/
**/coverage/
**/*.map

# === IDEs, système & fichiers temporaires ===
.DS_Store
Thumbs.db
**/.idea/
**/.vscode/
**/.history/
**/.swp
**/.editorconfig
**/.project
**/.classpath
**/.settings/
**/.venv/
**/__pycache__/

!xchange/
!xchange/**